body {
    background-color: #02080c;  
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 40px;
}

.todo-container {
    background-color: #031725;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    
}

.todo-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.todo-item {
    display: flex;
    align-items: center;
    background-color: #abf1ee; 
    color: #000;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
    
}

.todo-item label {
    font-size: 16px;
}